<!DOCTYPE html>
<html lang="es">
<head> 
    <title>Bird shop MVC Práctica</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css" />

</head>
    <body background="/images/bird.jpg">
      <div class="page-preview">
        <div class="page-preview-body">
          <h1>Bird Shop</h1>
            <form action="#" method="POST" class="" source="email">
                <label for="email" class="">Email</label>
                <input type="email" placeholder="Ingresa un mail válido" id="email" name="email" class="" required="">
                <input type="submit" value="submit" class="">
        </div>
      </div>
    </body>
</html>